:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  box-sizing: border-box;
}

.prompt-card {
  width: min(900px, 100%);
}

.field {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
}

.error {
  color: #b71c1c;
  margin: 0 0 1rem;
  font-weight: 500;
}
